@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Markazi+Text:wght@500&display=swap');

:root {
    --primary-green: #495E57;
    --primary-yellow: #F4CE14;
    --secondary-dark: #EE9972;
    --secondary-light: #FBDABB;
    --highlight-dark: #333333;
    --highlight-light: #EDEFEE;
}

@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        @apply font-[Karla]
    }

    button {
        @apply font-medium text-center px-5 py-3 bg-[var(--primary-yellow)] text-black rounded-full hover:bg-yellow-500 focus:ring-4 focus:outline-none
    }

    h1 {
        font-family: 'Markazi Text', serif;
        @apply text-6xl font-semibold
    }

    h2 {
        font-family: 'Markazi Text', serif;
        @apply text-5xl font-semibold
    }
}